pre.src {
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-border {
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #82aaff;
}
.org-button {
    /* button */
    color: #c792ea;
    font-weight: bold;
    text-decoration: underline;
}
.org-calendar-month-header {
    /* calendar-month-header */
    color: #82aaff;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-calendar-weekday-header {
    /* calendar-weekday-header */
    color: #f78c6c;
}
.org-calendar-weekend-header {
    /* calendar-weekend-header */
    color: #676E95;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-weight: bold;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #c792ea;
}
.org-comment {
    /* font-lock-comment-face */
    color: #676E95;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #676E95;
}
.org-completions-annotations {
    /* completions-annotations */
    font-style: italic;
}
.org-completions-common-part {
    /* completions-common-part */
    color: #add8e6;
}
.org-completions-first-difference {
    /* completions-first-difference */
    font-weight: bold;
}
.org-constant {
    /* font-lock-constant-face */
    color: #f78c6c;
}
.org-cursor {
    /* cursor */
    background-color: #c792ea;
}
.org-diary {
    /* diary */
    color: #ffff00;
}
.org-doc {
    /* font-lock-doc-face */
    color: #8d92af;
}
.org-eldoc-highlight-function-argument {
    /* eldoc-highlight-function-argument */
    font-weight: bold;
}
.org-error {
    /* error */
    color: #ff5370;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #00ffff;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #676E95;
}
.org-fill-column-indicator {
    /* fill-column-indicator */
    color: #676E95;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-fringe {
    /* fringe */
    background-color: #232635;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #82aaff;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-header-line {
    /* header-line */
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-header-line-highlight {
    /* header-line-highlight */
    color: #1c1f2b;
    background-color: #c792ea;
}
.org-help-argument-name {
    /* help-argument-name */
    font-style: italic;
}
.org-highlight {
    /* highlight */
    color: #1c1f2b;
    background-color: #c792ea;
}
.org-holiday {
    /* holiday */
    background-color: #8b4513;
}
.org-homoglyph {
    /* homoglyph */
    color: #00ffff;
}
.org-internal-border {
}
.org-isearch {
    /* isearch */
    color: #EEFFFF;
    background-color: #4E5579;
    font-weight: bold;
}
.org-isearch-fail {
    /* isearch-fail */
    color: #1c1f2b;
    background-color: #ff5370;
    font-weight: bold;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #89DDFF;
}
.org-lazy-highlight {
    /* lazy-highlight */
    color: #EEFFFF;
    background-color: #4E5579;
    font-weight: bold;
}
.org-line-number {
    /* line-number */
    color: #676E95;
    background-color: #292D3E;
}
.org-line-number-major-tick {
    /* line-number-major-tick */
    background-color: #bfbfbf;
    font-weight: bold;
}
.org-line-number-minor-tick {
    /* line-number-minor-tick */
    background-color: #8c8c8c;
    font-weight: bold;
}
.org-link {
    /* link */
    color: #c792ea;
    font-weight: bold;
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    color: #ee82ee;
    font-weight: bold;
    text-decoration: underline;
}
.org-match {
    /* match */
    color: #c3e88d;
    background-color: #1c1f2b;
    font-weight: bold;
}
.org-menu {
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #c792ea;
}
.org-mode-line {
    /* mode-line */
    color: #A6Accd;
    background-color: #232635;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    font-weight: bold;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    color: #c792ea;
}
.org-mode-line-highlight {
    /* mode-line-highlight */
    color: #1c1f2b;
    background-color: #c792ea;
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #676E95;
    background-color: #282c3d;
}
.org-mouse {
}
.org-mouse-drag-and-drop-region {
    /* mouse-drag-and-drop-region */
    background-color: #3C435E;
}
.org-negation-char {
    /* font-lock-negation-char-face */
    color: #89DDFF;
    font-weight: bold;
}
.org-next-error {
    /* next-error */
    background-color: #3C435E;
}
.org-nobreak-hyphen {
    /* nobreak-hyphen */
    color: #00ffff;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    background-color: #3a4664;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    background-color: #4d4d4d;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #676E95;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #bb80b3;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #d6b2d1;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #704c6b;
}
.org-org-agenda-date-weekend-today {
    /* org-agenda-date-weekend-today */
    color: #d6b2d1;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    color: #676E95;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #676E95;
    font-weight: bold;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #A6Accd;
    background-color: #232635;
}
.org-org-agenda-filter-effort {
    /* org-agenda-filter-effort */
    color: #A6Accd;
    background-color: #232635;
}
.org-org-agenda-filter-regexp {
    /* org-agenda-filter-regexp */
    color: #A6Accd;
    background-color: #232635;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #A6Accd;
    background-color: #232635;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #1C1C1C;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #EEFFFF;
}
.org-org-agenda-structure-secondary {
    /* org-agenda-structure-secondary */
    color: #EEFFFF;
}
.org-org-archived {
    /* org-archived */
    color: #8d92af;
}
.org-org-block {
    /* org-block */
    background-color: #232635;
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #676E95;
    background-color: #232635;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #676E95;
    background-color: #232635;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #c3e88d;
    font-weight: bold;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #676E95;
    font-weight: bold;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #c3e88d;
    font-weight: bold;
}
.org-org-cite {
    /* org-cite */
    color: #c792ea;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-cite-key {
    /* org-cite-key */
    color: #c792ea;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    color: #ffffff;
    background-color: #4a708b;
}
.org-org-code {
    /* org-code */
    color: #f78c6c;
}
.org-org-column {
    /* org-column */
    background-color: #4d4d4d;
}
.org-org-column-title {
    /* org-column-title */
    background-color: #4d4d4d;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #ffcb6b;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #ffc0cb;
}
.org-org-default {
}
.org-org-dispatcher-highlight {
    /* org-dispatcher-highlight */
    color: #ffd700;
    background-color: #333333;
    font-weight: bold;
}
.org-org-document-info {
    /* org-document-info */
    color: #82aaff;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #676E95;
}
.org-org-document-title {
    /* org-document-title */
    color: #82aaff;
    font-weight: bold;
}
.org-org-done {
    /* org-done */
    color: #676E95;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #87cefa;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #676E95;
}
.org-org-footnote {
    /* org-footnote */
    color: #f78c6c;
}
.org-org-formula {
    /* org-formula */
    color: #89DDFF;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #676E95;
}
.org-org-headline-todo {
    /* org-headline-todo */
    color: #eea9b8;
}
.org-org-hide {
    /* org-hide */
    color: #292D3E;
}
.org-org-imminent-deadline {
    /* org-imminent-deadline */
    color: #ffcb6b;
}
.org-org-latex-and-related {
    /* org-latex-and-related */
    color: #A6Accd;
    font-weight: bold;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #82aaff;
    font-weight: bold;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #c792ea;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #bb80b3;
    font-weight: bold;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #a1bfff;
    font-weight: bold;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #d5adef;
    font-weight: bold;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #c0d4ff;
    font-weight: bold;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #e3c8f4;
    font-weight: bold;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #e6eeff;
    font-weight: bold;
}
.org-org-link {
    /* org-link */
    color: #c792ea;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-list-dt {
    /* org-list-dt */
    color: #c792ea;
}
.org-org-macro {
    /* org-macro */
    color: #A6Accd;
    font-weight: bold;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #8d92af;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #A6Accd;
    background-color: #232635;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #A6Accd;
    background-color: #ff0000;
}
.org-org-priority {
    /* org-priority */
    color: #ff5370;
}
.org-org-property-value {
    /* org-property-value */
    color: #8d92af;
}
.org-org-quote {
    /* org-quote */
    background-color: #3C435E;
    font-style: italic;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #EEFFFF;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #A6Accd;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #717CB4;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #EEFFFF;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #8d92af;
}
.org-org-table {
    /* org-table */
    color: #bb80b3;
}
.org-org-table-header {
    /* org-table-header */
    color: #000000;
    background-color: #d3d3d3;
}
.org-org-tag {
    /* org-tag */
    color: #8d92af;
}
.org-org-tag-group {
    /* org-tag-group */
    color: #8d92af;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #676E95;
}
.org-org-todo {
    /* org-todo */
    color: #c3e88d;
    font-weight: bold;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #c6d5d8;
}
.org-org-upcoming-distant-deadline {
    /* org-upcoming-distant-deadline */
    color: #8b969e;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #c3e88d;
}
.org-org-verse {
    /* org-verse */
    background-color: #232635;
}
.org-org-warning {
    /* org-warning */
    color: #ffcb6b;
}
.org-outline-1 {
    /* outline-1 */
    color: #82aaff;
    font-weight: bold;
}
.org-outline-2 {
    /* outline-2 */
    color: #c792ea;
    font-weight: bold;
}
.org-outline-3 {
    /* outline-3 */
    color: #bb80b3;
    font-weight: bold;
}
.org-outline-4 {
    /* outline-4 */
    color: #a1bfff;
    font-weight: bold;
}
.org-outline-5 {
    /* outline-5 */
    color: #d5adef;
    font-weight: bold;
}
.org-outline-6 {
    /* outline-6 */
    color: #c0d4ff;
    font-weight: bold;
}
.org-outline-7 {
    /* outline-7 */
    color: #e3c8f4;
    font-weight: bold;
}
.org-outline-8 {
    /* outline-8 */
    color: #e6eeff;
    font-weight: bold;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #89DDFF;
    font-weight: bold;
}
.org-query-replace {
    /* query-replace */
    color: #EEFFFF;
    background-color: #4E5579;
    font-weight: bold;
}
.org-read-multiple-choice {
    /* read-multiple-choice-face */
    font-weight: bold;
    text-decoration: underline;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #89DDFF;
    font-weight: bold;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #89DDFF;
    font-weight: bold;
}
.org-region {
    /* region */
    background-color: #3C435E;
}
.org-scroll-bar {
}
.org-secondary-selection {
    /* secondary-selection */
    background-color: #676E95;
}
.org-shadow {
    /* shadow */
    color: #676E95;
}
.org-show-paren-match {
    /* show-paren-match */
    color: #ff5370;
    background-color: #1c1f2b;
}
.org-show-paren-match-expression {
    /* show-paren-match-expression */
    color: #ff5370;
    background-color: #1c1f2b;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #1c1f2b;
    background-color: #ff5370;
}
.org-string {
    /* font-lock-string-face */
    color: #c3e88d;
}
.org-success {
    /* success */
    color: #c3e88d;
}
.org-tab-bar {
    /* tab-bar */
    color: #242837;
    background-color: #242837;
}
.org-tab-bar-tab {
    /* tab-bar-tab */
    color: #EEFFFF;
    background-color: #292D3E;
}
.org-tab-bar-tab-inactive {
    /* tab-bar-tab-inactive */
    color: #BFC7D5;
    background-color: #242837;
}
.org-tab-line {
    /* tab-line */
    color: #242837;
    background-color: #242837;
}
.org-table-cell {
    /* table-cell */
    color: #e5e5e5;
    background-color: #0000ff;
}
.org-tabulated-list-fake-header {
    /* tabulated-list-fake-header */
    font-weight: bold;
    text-decoration: underline;
    text-decoration: overline;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tooltip {
    /* tooltip */
    color: #EEFFFF;
    background-color: #1c202c;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #ff5370;
}
.org-tty-menu-disabled {
    /* tty-menu-disabled-face */
    color: #d3d3d3;
    background-color: #0000ff;
}
.org-tty-menu-enabled {
    /* tty-menu-enabled-face */
    color: #ffff00;
    background-color: #0000ff;
    font-weight: bold;
}
.org-tty-menu-selected {
    /* tty-menu-selected-face */
    background-color: #ff0000;
}
.org-type {
    /* font-lock-type-face */
    color: #c792ea;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #ffcb6b;
}
.org-variable-pitch {
}
.org-vc-conflict-state {
}
.org-vc-edited-state {
}
.org-vc-locally-added-state {
}
.org-vc-locked-state {
}
.org-vc-missing-state {
}
.org-vc-needs-update-state {
}
.org-vc-removed-state {
}
.org-vc-state-base {
}
.org-vc-up-to-date-state {
}
.org-vertical-border {
    /* vertical-border */
    color: #232635;
    background-color: #232635;
}
.org-warning {
    /* warning */
    color: #ffcb6b;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #ffcb6b;
}
.org-window-divider {
    /* window-divider */
    color: #232635;
    background-color: #232635;
}
.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    color: #232635;
    background-color: #232635;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    color: #232635;
    background-color: #232635;
}
